{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools %}
  <div class="total-visits">
    <h2>Total Visits: {{ total_visits }}</h2>
  </div>
  <ul class="object-tools">
      <li><a href="{% url "admin:django_request_ahmb_request_overview" %}">{% translate "Overview" %}</a></li>
    {% if has_add_permission %}
      <li>
        <a href="{% url "admin:django_request_ahmb_request_add" %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
        </a>
      </li>
     
    {% endif %}
  </ul>
  
{% endblock %}
